.task-item {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: var(--ligther-grey);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.task-item:hover {
  background-color: var(--light-grey);
}

.task-item:active {
  background-color: var(--light-grey);
}

.task-item-normal-view {
  display: grid;
  grid-template-columns: max-content auto 10ch max-content max-content max-content;
  gap: 1rem;
  align-items: center;
  word-break: normal;
}

.task-item-name {
  cursor: pointer;
}

.task-item-date {
    color: var(--light-black);
}

.task-item-detail-view {
  padding: 0.5rem;
  word-break: normal;
  background-color: white;
  border-radius: 0.33rem;
}

.task-item-edit-btn,
.task-item-remove-btn,
.task-item-move-btn {
  font-size: 1.25rem;
  color: var(--inactive);
  cursor: pointer;
}

.task-item-edit-btn:hover,
.task-item-remove-btn:hover,
.task-item-move-btn:hover,
.task-item-edit-btn:active,
.task-item-remove-btn:active,
.task-item-move-btn:active {
  color: var(--active);
}

.completed {
  text-decoration: line-through;
  color: var(--light-black);
}

.Low {
  border-left: 0.5rem solid var(--green);
}

.Medium {
  border-left: 0.5rem solid coral;
}

.High {
  border-left: 0.5rem solid red;
}
