
.task-item {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: var(--slightly-ligther-grey);
}

.task-item:hover {
    background-color: var(--light-grey);
}

.task-item:active {
    background-color: var(--light-grey);
}

.task-item-normal-view {
    display: grid;
    grid-template-columns: max-content 35% 18% max-content max-content ;
    gap: 0.5rem;
    align-items: center;
    word-break: normal;
}


.task-item-name {
    cursor: pointer;
}

.task-item-detail-view {
    padding: 0.5rem;
    word-break: normal;
    background-color: white;
}

.task-item-edit-btn, .task-item-remove-btn {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.completed {
    text-decoration: line-through;
    color: var(--light-black);
}

.Low {
    border-left: 0.5rem solid green;
}

.Medium {
    border-left: 0.5rem solid orange;
}

.High {
    border-left: 0.5rem solid red;
}