.project-item {
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.project-item:hover {
  background-color: var(--light-grey);
}

.project-item:active {
  background-color: var(--light-grey);
}

.project-item-name-input {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  width: 100%;
  border-width: 0.1rem;
  background-color: transparent;
}

.project-item-task-counter {
  color: var(--light-black);
  font-size: 0.9rem;
}

.active {
  background-color: var(--slightly-ligther-grey);
}
