.header {
  padding: 1rem;
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  align-items: center;
  background-color: var(--light-grey);
}

.logo {
  color: var(--green);
}

.global-filter,
.global-filter-actions {
  display: flex;
  gap: 0.5rem;
}
