.header {
  padding: 1rem;
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  align-items: center;
  background-color: var(--light-grey);
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo, .logo-icon {
  color: var(--green);
}

.logo-icon {
  font-size: 1.75rem;
}

.global-filter,
.global-filter-actions {
  display: flex;
  gap: 0.5rem;
}
