.sidebar {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--lighter-grey);
}

.project-filter {
  display: flex;
  flex-direction: column;
}

.project-filter-btn {
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
}

.project-filter-btn:hover {
  background-color: var(--light-grey);
}

.project-filter-btn:active {
  background-color: var(--light-grey);
}

.completed-project-list,
.project-list {
  display: flex;
  flex-direction: column;
}

.project-add-btn {
  align-self: flex-end;
  margin-top: 0.5rem;
  border-color: var(--green);
}

.project-menu-btn {
  padding: 1rem;
  background-color: var(--lighter-grey);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}