.sidebar {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--lighter-grey);
}

.project-filter {
  display: flex;
  flex-direction: column;
}

.project-filter > button {
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
}

.project-item:hover {
    background-color: var(--light-grey);
}

.project-item:active {
    background-color: var(--light-grey);
}

.project-filter > button:hover {
  background-color: gainsboro;
}

.completed-project-list,
.project-list {
  display: flex;
  flex-direction: column;
}

.colapse-wrapper-body {
  padding: 1rem;
}
