.sidebar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.project-filter {
  display: flex;
  flex-direction: column;
}

.project-filter > button {
  font-size: 1rem;
  padding: 0.5rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}

.project-filter > button:hover {
  background-color: gainsboro;
}

.completed-project-list,
.project-list {
  display: flex;
  flex-direction: column;
}

.colapse-wrapper-body {
  padding: 1rem;
}
