/* Simple CSS Reset  */
:root {
  --black: #030303;
  --active: #030303;
  --light-black: #606060;
  --inactive: #909090;
  --light-grey: rgb(230, 230, 230);
  --slightly-ligther-grey: rgb(236,236,236);
  --grey: #ccc;
  --grey-li: #d3d3d3;
  --lighter-grey: #f9f9f9;
  --green: #1cac78;

  --sidebar-width: 220px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid gray; */
}

button, input, select {
  padding: 0.5rem 0.75rem;
  border: 0.125rem solid var(--inactive);
  border-radius: 0.33rem;
}

select {
  background-color: transparent;
}


button {
  color: var(--active);
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
}

.ok-btn {
  border-color: var(--green);
}

button:hover {
  border-color: var(--active);
}

button:active {
  border-color: var(--active);
  background-color: var(--slightly-ligther-grey);
  transform: scale(0.99);
}

html {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--black);
}

body {
  height: 100vh;
}
