
.colapse-wrapper {
    margin: 0.25rem 0;
    display: flex;
    flex-direction: column;
}

.colapse-wrapper-header {
    cursor: pointer;
}

.colapse-wrapper-title {
    font-weight: 600;
}

.colapse-wrapper-body {
    padding: 0.5rem;
  }