
.colapse-wrapper {
    margin: 0.25rem 0;
    display: flex;
    flex-direction: column;
}

.colapse-wrapper-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.colapse-wrapper-icon {
    color: var(--inactive);
}

.colapse-wrapper-icon:hover, .colapse-wrapper-icon:active {
    color: var(--active);
}

.colapse-wrapper-title {
    font-weight: 600;
}

.colapse-wrapper-body {
    padding: 0.5rem;
  }